@font-face {
            font-family: OpenSansBold; /* Гарнитура шрифта */
            src: url(fonts/OpenSansCondensed-Bold.ttf); /* Путь к файлу со шрифтом */
            }
            @font-face {
            font-family: MarckScriptRegular; /* Гарнитура шрифта */
            src: url(fonts/MarckScript-Regular.ttf); /* Путь к файлу со шрифтом */
            }    